<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h3>Save</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="" for="note">Your note</label>
                <input type="text" class="form-control" id="note" placeholder="You can add some note if you want" ng-model="note">
            </div>
          Note: {{note}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Close</button>
            <button class="btn btn-primary" ng-click="save(note)">Save</button>
        </div>
    </div>
</div>