<!DOCTYPE html>
<html data-ng-app="regexpApp" ng-csp="">
    <head>
        <meta charset="utf-8"/>
        <title>Regexp tester</title>
        <link rel="stylesheet" media="all" href="css/main.css">
        <link rel="stylesheet" media="all" href="lib/bootstrap-3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" media="all" href="lib/angular-1.2.0/angular-csp.css">
        <base target="_blank">
    </head>
    <body data-ng-controller="RegexpController">
        <div class="container">
            <section id="main">
                <div class="row">
                    <div class="col-md-12">
                        <label for="regexp">Regular expression</label>
                        <span ng-controller="ModalHelpCtrl">
                            <span class="glyphicon glyphicon-question-sign" ng-click="openHelpDialog()"></span>
                        </span>
                        <div class="input-group" ng-class="{'has-error':invalidPattern}">
                            <input ng-model="data.regexp" type="text" class="form-control" id="regexp" placeholder="Enter a regexp to test" />
                            <span class="input-group-addon">
                                <label class="normal"><input type="checkbox" class="middle" ng-model="data.autotest"> autotest</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="g" ng-model="data.global"> global
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="m" ng-model="data.multiline"> multiline
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="i" ng-model="data.insensitive"> case insensitive
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="searchText">Test text</label>
                        <textarea class="form-control" id="searchText" rows="3" ng-model="data.search" placeholder="Enter test text on which regexp will be performed"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="replaceText">Replace text</label>
                        <textarea class="form-control" id="replaceText" rows="3" ng-model="data.replace" placeholder="Enter replacement if you want to replace highlighted text"></textarea>
                    </div>
                </div>
                <div class="row" ng-hide="data.autotest">
                    <div class="col-md-12 form-group">
                        <button type="button" class="btn btn-primary manual-test" ng-click="runTest()">Do test</button>
                    </div>
                </div>

                <div ng-controller="ResultController">
                    <tabset>
                        <tab heading="Search results ({{searchFound}})">
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<div class="match" ng-bind-html="result.highlight"></div>-->
                                    <div class="match" full-height html="result.highlight"></div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Replace results" ng-if="data.replace.trim() !== ''">
                            <!--<div class="match" ng-bind-html="result.replace"></div>-->
                            <div class="match" full-height html="result.replace"></div>
                        </tab>
                    </tabset>
                </div>
            </section>
        </div>
        <script src="lib/angular-1.2.0/angular.js"></script>
        <script src="lib/angular-1.2.0/ui/tabs/tabs.js"></script>
        <script src="lib/angular-1.2.0/ui/modal/modal.js"></script>
        <script src="lib/angular-1.2.0/angular-sanitize.js"></script>
        <script src="lib/mousetrap.min.js"></script>
        <script src="js/upload.js"></script>
        <script src="js/indexeddb.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>